
.icon-down-big:before { content: '\2193'; } /* '↓' */
.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-up-big:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */